<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqmqtYjF_Q5PE4bp1kktRJ8jOqTt8iJ04</string>
	<key>GCM_SENDER_ID</key>
	<string>287312614993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mymoai</string>
	<key>PROJECT_ID</key>
	<string>mymoai-19b3c</string>
	<key>STORAGE_BUCKET</key>
	<string>mymoai-19b3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287312614993:ios:7fbeb352269582db4c0a70</string>
</dict>
</plist>